<div class="cart">
    <ng-container *ngIf="checkProductsInCart(); then thenBlock; else elseBlock"></ng-container>
    <ng-template #thenBlock>'
        <ul class="products" >
            <li *ngFor="let product of getProductsInCart(); trackBy: trackByMethod">
                <span>{{product.name}} : {{product.price}}</span>
            </li>
        </ul></ng-template>
    <ng-template #elseBlock>
        <div class="empty-cart">
            <div class="material-icons">shopping_cart</div>
            <p>Add something to cart</p>
        </div>
    </ng-template>
</div>
